# external libs
vendor/
.idea/

# bin
main/pg/wal-g
main/mysql/wal-g
main/redis/wal-g
main/mongo/wal-g

# tests
test/testdata/00000*
test/testdata/broken_wals/
coverage.out
.DS_Store
tests_func/staging

tmp/
*.xml
*.iml
*.so
.session_conf.sav
__pycache__/
venv/

