# external libs
vendor/
.idea/

# bin
main/fdb/wal-g
main/sqlserver/wal-g
main/pg/wal-g
main/mysql/wal-g
main/redis/wal-g
main/mongo/wal-g
main/gp/wal-g

# tests
test/testdata/00000*
test/testdata/broken_wals/
coverage.out
.DS_Store
tests_func/staging
tests_func/wal-g

tmp/
*.xml
*.iml
*.so
*.pprof
*.pdf
.session_conf.sav
__pycache__/
venv/

### VisualStudioCode ###
.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
