Package: wal-g
Version: 0.2.8-1
Architecture: amd64
Maintainer: Andrey Borodin <x4mmm@yandex-team.ru>
Installed-Size: 29367
Depends: adduser, libc6 (>= 2.14)
Section: net
Priority: optional
Description: Continuous archiving for Postgres with S3 support
 Full documentation: https://github.com/x4m/wal-g
