#!/usr/bin/make -f

export LC_ALL=C.UTF-8
export LANG=C.UTF-8

export DH_GOLANG_EXCLUDES := iphlpapi
export GO111MODULE=on
export GOFLAGS=-mod=vendor -buildvcs=false
export GOPROXY=off 
export USE_BROTLI=1
export USE_LIBSODIUM=1
export USE_LZO=1
export GOCACHE := $(CURDIR)/.gocache
export GOMODCACHE := $(CURDIR)/.gomodcache

# Переменные Go
GO_TAR_AMD := $(CURDIR)/build/golang-amd64.tar.gz
GO_TAR_ARM := $(CURDIR)/build/golang-arm64.tar.gz
GO_DIR := $(CURDIR)/build/go

# Подключение Go из build/go
export GOROOT := $(GO_DIR)
export PATH := $(GOROOT)/bin:$(PATH)

%:
	dh $@

override_dh_auto_build:
	mkdir -p $(GOCACHE) $(GOMODCACHE) $(GO_DIR)

	# Определение архитектуры и распаковка Go
	if dpkg --print-architecture | grep -q amd64; then \
		tar -C $(GO_DIR) --strip-components=1 -xzf $(GO_TAR_AMD); \
	elif dpkg --print-architecture | grep -q arm64; then \
		tar -C $(GO_DIR) --strip-components=1 -xzf $(GO_TAR_ARM); \
	else \
		echo "Unsupported architecture"; \
		exit 1; \
	fi

	make link_external_deps
	make pg_build
	make mysql_build
	make mongo_build
	make redis_build
	make sqlserver_build
	make fdb_build
	make gp_build	

override_dh_auto_install:
	dh_auto_install

override_dh_install:
	dh_install

override_dh_auto_clean:
	make clean

override_dh_auto_test:
	true