networks:
    test_net:
        name: test_net_${TEST_ID}
        external: true
services:
    minio01:
        build: staging/images/minio
        container_name: minio01.test_net_${TEST_ID}
        domainname: test_net_${TEST_ID}
        hostname: minio01
        image: minio:test_net_${TEST_ID}
        networks:
            - test_net
        ports:
            - ${S3_PORT}
        tmpfs: /var/run
        volumes:
            - ./images/minio/config:/config:rw
        env_file:
            - ${ENV_FILE}
    valkey01:
        build:
            dockerfile: ${DOCKER_FILE}
            context: .
            args:
                - VALKEY_VERSION=${VALKEY_VERSION}
                - IMAGE_TYPE=${IMAGE_TYPE}
        container_name: valkey01.test_net_${TEST_ID}
        domainname: test_net_${TEST_ID}
        external_links:
            - minio01.test_net_${TEST_ID}:minio
        hostname: valkey01
        image: valkey:test_net_${TEST_ID}
        networks:
            - test_net
        ports:
            - ${VALKEY_EXPOSE_PORT}
            - ${EXPOSE_SSH_PORT}
        tmpfs: /var/run
        volumes:
            - ./images/valkey/config:/config:ro
        env_file:
            - ${ENV_FILE}
    valkey02:
        build:
            dockerfile: ${DOCKER_FILE}
            context: .
            args:
                - VALKEY_VERSION=${VALKEY_VERSION}
                - IMAGE_TYPE=${IMAGE_TYPE}
        container_name: valkey02.test_net_${TEST_ID}
        domainname: test_net_${TEST_ID}
        external_links:
            - minio01.test_net_${TEST_ID}:minio
        hostname: valkey02
        image: valkey:test_net_${TEST_ID}
        networks:
            - test_net
        ports:
            - ${VALKEY_EXPOSE_PORT}
            - ${EXPOSE_SSH_PORT}
        tmpfs: /var/run
        volumes:
            - ./images/valkey/config:/config:ro
        env_file:
            - ${ENV_FILE}
