[mysqld]
datadir = /var/lib/mysql
init_file = /etc/mysql/init.sql
server_id = 1
binlog_format = ROW
log_bin = mysql-bin
log_bin_index = /var/lib/mysql/mysql-bin.index

[mariadb]
log_error=/var/log/mysql/error.log
