name: golangci-lint
on:
  push:
    branches:
      - master
  pull_request:

env:
  GO_VERSION: 1.20

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Install deps
        run: sudo apt-get install liblzo2-dev brotli libsodium-dev
      - uses: actions/checkout@v3
      - name: Set up Go 1.x
        uses: actions/setup-go@v4
        with:
          go-version: "${{ env.GO_VERSION }}"
        id: go
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3.5.0
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v1.52.2
