name: Release workflow for tagged versions
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v0.2.19, v0.2.14a

env:
  GO_VERSION: 1.18
  USE_LIBSODIUM: 1

jobs:
  release-debian:
    strategy:
      matrix:
        arch: [ aarch64 ]
        os: [ ubuntu-20.04 ]
        db: [ pg, mysql, sqlserver, redis, mongo, fdb, gp ]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - uses: uraimo/run-on-arch-action@v2
        with:
          arch: ${{ matrix.arch }}
          distro: ${{ matrix.os }}
          env: | # YAML, but pipe character is necessary
            USE_LIBSODIUM: ${{ env.USE_LIBSODIUM }}
            USE_LZO: ${{ env.USE_LZO }}
          shell: /bin/bash
          run: |
            apt-get install -y liblzo2-dev brotli libsodium-dev golang-1.18
            
            export PATH="/usr/lib/go-1.18/bin:$PATH"
            
            go get -v -t -d ./...
            make deps

      - name: Build WAL-G
        run: make ${{ matrix.db }}_build

      - run: mv main/${{ matrix.db }}/wal-g wal-g-${{ matrix.db }}-${{ matrix.os }}-${{ matrix.arch }}
      - run: sha256sum wal-g-${{ matrix.db }}-${{ matrix.os }}-${{ matrix.arch }} > wal-g-${{ matrix.db }}-${{ matrix.os }}-${{ matrix.arch }}.sha256

      - run: tar --owner=0 --group=0 -zcvf wal-g-${{ matrix.db }}-${{ matrix.os }}-${{ matrix.arch }}.tar.gz wal-g-${{ matrix.db }}-${{ matrix.os }}-${{ matrix.arch }}
      - run: sha256sum wal-g-${{ matrix.db }}-${{ matrix.os }}-${{ matrix.arch }}.tar.gz > wal-g-${{ matrix.db }}-${{ matrix.os }}-${{ matrix.arch }}.tar.gz.sha256

      - uses: softprops/action-gh-release@v1
        with:
          files: |
            wal-g-${{ matrix.db }}-${{ matrix.os }}-${{ matrix.arch }}
            wal-g-${{ matrix.db }}-${{ matrix.os }}-${{ matrix.arch }}.tar.gz
            wal-g-${{ matrix.db }}-${{ matrix.os }}-${{ matrix.arch }}.sha256
            wal-g-${{ matrix.db }}-${{ matrix.os }}-${{ matrix.arch }}.tar.gz.sha256
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}